.switch {
   display: inline-block;
   height: 34px;
   position: relative;
   width: 60px;
 }
 
 .switch input {
   display:none;
 }
 
 .slider {
   background-color: rgb(233, 74, 74);
   content: "";
   bottom: 0;
   cursor: pointer;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transition: .4s;
 }
 
 .slider:before {
   background-color: rgb(255, 250, 250);
   bottom: 4px;
   content: "";
   height: 26px;
   left: 4px;
   position: absolute;
   transition: .4s;
   width: 26px;
 }
 
 input:checked + .slider {
   background-color: #66bb6a;
 }
 
 input:checked + .slider:before {
   transform: translateX(26px);
   background-color: #e8ffe9;
 }
 
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }
 





.box{
    margin: 7px;
    padding: 7px;
    background-color: black;
    color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxText{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    width: fit-content;
}
.checkBoxSection{
    width: 100%;
    display: grid;

    
    justify-content: space-between;
    grid-template-columns: 25% 25% 25% 25%;
}
@media only screen and (max-width: 850px) {
    .checkBoxSection {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 50% 50%;
    }
}
/*@media only screen and (max-width: 380px) {
   .checkBoxSection {
       width: 100%;
       display: grid;
       justify-content: space-between;
       grid-template-columns: 100%;
   }
}
