#grafTable{
    display: flex;
    
    flex-direction: column;
}
.cellTable{
    background-color: black;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.stlpecGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    margin-right: 8px;
    transition: all 500ms ease;
}





.grafText{
    width: 200px;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Karla', sans-serif;
    
    
    justify-content: center;
    align-content: center;
}
.stlpec{
    height: 25px;
    margin: 2px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#hubyGraf{
    
    background-color: blueviolet;
}
#machyGraf{
    
    background-color: blue;
}
