body{
    padding: 0;
    border: 0;
    margin: 0%;
    background-color: rgb(66, 66, 66);
}

h1{
    color: rgb(177, 177, 177);
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding: 0ch;
    margin: 0%;
    margin: 7px;
    
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#test{
    display: flex;
    align-items: center;
}
#game{
    display: flex; 
    align-items: center; 
}
.navText{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    
}

section.slide {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color:#000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  button.btn-slide {
      width:50px;
      height:50px;
      margin:10px;
      border-style:none;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer;
      position:relative;
  }
  
  button.btn-slide:hover{
      background-color: rgba(255, 255, 255, 0.2);
  }
  
  span.arrow-left {
      display:block;
      width:20px;
      height:20px;
      border-top: 2px solid rgba(255, 255, 255, 0.7);
      border-left: 2px solid rgba(255, 255, 255, 0.7);
      border-top-left-radius: 5px;
      transform:rotate(-45deg);
      position:absolute;
      top:15px;
      left:18px;
  }
  
  span.arrow-right {
      display:block;
      width:20px;
      height:20px;
      border-top: 2px solid rgba(255, 255, 255, 0.7);
      border-right: 2px solid rgba(255, 255, 255, 0.7);
      border-top-right-radius: 5px;
      transform:rotate(45deg);
      position:absolute;
      top:15px;
      left:10px;
  }



.flexgaleria{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

#galeria{
    
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    
      grid-gap: 2rem;
      justify-content: center;
      align-content: start;
      
} 
@media only screen and (min-width:490px) and (max-width:900px) {
    #galeria{
    
        display: grid;
        width: 80%;
        grid-template-columns: 50% 50%;
        
          grid-gap: 1rem;
          justify-content: center;
          align-content: start;
          
    } 
}

@media only screen and (max-width:490px){
    #galeria{
    
        display: grid;
        width: 80%;
        grid-template-columns: 100%;
        
          grid-gap: 1rem;
          justify-content: center;
          align-content: start;
     
    } 
}

.galeryBox{
    
    
    min-height: 90%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.okraj{
    padding: 15px;
    -webkit-transition: all 350ms ease;
}

.okraj:hover{
    padding: 0px;
    
}
    

/*.galeryImage{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit:cover;  
    
}*/
.imageText{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(233, 233, 233,.6);
    display: flex;
    object-fit:cover; 
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 100%;
    opacity: 0%;
    -webkit-transition: all 500ms ease;
}
.imageText:hover{
    font-size: 2.23rem;
}