
.flexgaleria{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
#galeria{
    
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50%;
    
      grid-gap: 2rem;
      justify-content: center;
      align-content: start;
      
} 

.galeryBox{
    min-height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 500ms ease;
}
#zelenyText{
    background-color: rgb(233, 233, 233,.8);
    display: flex;
    object-fit:cover; 
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    opacity: 0%;
    
    


    -webkit-transition: all 500ms ease;
}




