
.flexgaleria{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
#galeria{
    
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50%;
    
      grid-gap: 2rem;
      justify-content: center;
      align-content: start;
      
} 

.galeryBox{
    min-height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
}




